// TABLE OF CONTENTS
// 1. COLOUR PALETTE
// 2. MIXINS
// 3. HEADER & TOP NAV ELEMENTS
// 4. HERO SECTION
// 5. NAV CARD SECTION
// 6. FEATURED BLOGS
// 7. HIGHLIGHTED BLOG
// 8. FOOTER SECTION
// 9. MEDIA QUERY





//
// COLOR PALETTE 
//
$color1: #e3e7af;
$color2: #a2a77f;
$color3: #eff1c5;
$color4: #035e7b;
$color5: #002e2c;


// div{
//     border: 2px solid black;
// }

body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}


//
// MIXINS
//
@mixin responsive-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin max-size{
    max-width: 1080px;
    margin: 0 auto;
    float: none;
}

@mixin card-helmet{
    margin-top: 2rem;
}

@mixin centre-text{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@mixin headings{
    h2,h4,h5{
        color: #e3e7af;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin-left: 10px;       

    }
}

@mixin paragraphs{
    p, li,ul{
        margin: 10px;
        color: white;
        text-align: justify;
        font-family: "Roboto", Helvetica, sans-serif;
    }
}




//
// HEADER & TOP NAV ELEMENTS
//
header{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color4;
    align-items: center;
    
    img{
        width: 10em;
        padding: 0.5em;
        margin-left: 20px;
    }

    .hamburger{
        display: none;
    }

        
}

.nav-list{
    // background-color: white;
   // box-shadow: 0px 0px 10px grey;
    padding: 1rem 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center
}

.nav-item{
    list-style: none;
    margin-right:2rem;

    a{
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    &:hover{
        color: black;
        transform: scale(1.2);
    }
}


.headings{
    @include centre-text();

    font-family: roboto, sans-serif;
    text-align: center;
}


//
// HAMBURGER MENU
//
.nav-toggle-label{
    margin-right: 1em;
    img{
        width: 50px;
        height: 50px;
    }
}

.nav-toggle{
    display: none;
}

.hamburger{

    .hamburger-options{
        display: none;
        background-color: #035e7b;
        height: 120px;
        width: 100%;
        text-align: center;
        padding: 1em;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li{
            text-decoration: none;
        }
        a{
            color: white;
            text-decoration: none;
            font-size: 1.1em;
            font-family: sans-serif;
            text-transform: uppercase;
    
            &:hover{
                color: black;
                transform: scale(1.2);
            }
        }
    }
}

.nav-toggle:checked ~ nav {
    display: block;
}


//
// HERO SECTION
//
.hero-container{
    @include headings();

    height: 45em;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;


    background-image: url(/src/img/hero.jpg);

    .hero-banner{
        background: rgba($color: #000000, $alpha: 0.7);
        width: fit-content;

        &:hover{
            background: rgba($color: #000000, $alpha: 1.0);
        }
        
    }

}

.intro-text{
    color: #e3e7af;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding: 0.5em;
}




//
// NAV CARD SECTION
//
.nav-cards{
    @include responsive-container();
    @include max-size();
    @include card-helmet();
    justify-content: space-around;

    font-family: roboto, sans-serif;

    // border: 2px solid black;

    a{
        display: block;
        height: fit-content;
        width: fit-content;
        text-decoration: none;
    }

}

.nav-card{
    @include centre-text();
    // min-width: 300px;

    height: 30%;
    width: 30%;
    min-width: 300px;

    margin: 1em;
    padding: 1em;

    border-radius: 0.5em;
    
    color: black;
    border: 2px solid black;

    // overflow: hidden;

    transition: transform 500ms ease;
    
    img{
        width: 100px;
        height: 100px;
    }

    &:hover{
        background-color: $color3;
        transform: scale(1.1);
        box-shadow: 2px 4px;
    }
}

// .icons{
//     width: 4em;
//     height: 4em;
//     align-items: normal;
//     justify-content: center;
// }











//
//HIGHTLIGHTED BLOG
//
.highlight-container{
    @include responsive-container();
    @include max-size();
    @include card-helmet(); 

    justify-content: center;

    padding: 0.5em;

    ul, li {
        float: left;
    }

}


.highlight{
    @include responsive-container();
    @include max-size();
    @include headings();
    @include paragraphs();

    // border: 2px solid black;
    
    flex-direction: row;
    flex-wrap: wrap;

    border-radius: 0.5em;

    justify-content: space-between;
    background-color: $color4;



    img{
        // display: none;
        width: 100%;
        height: auto;
    }

    .highlight-desc{
        width: 40%;
    }
    
}





// .highlight-img{
//     width: 72%;
//     // height: auto;
//     // background-image: url(/img/computer.jpg);
//     // background-size: cover;
// }



// 
// Blog Page
// 
.blog-section{
    @include responsive-container();
    @include max-size();
    // @include headings();
    // @include paragraphs();

    font-family: roboto, sans-serif;

    
}


.blog{
    background-color: $color2;
    box-shadow: 2px 4px;

    flex-direction: column;
    justify-content: center;

    margin: 1em;
    padding-bottom: 1em;
    border-radius: 0.5em;;



    .blog-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 1em;
        align-items: center;
    }

    .blog-body{
        display: flex;

        img{
            // display: none;
            width: 100%;
            height: auto;
        }
    }

    .blog-copy{
        margin: 0 1em;
        width: 50%;
        p{
            margin: 0;
        }
    }


    .btn-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        background-color: $color2;
        padding: 1em;
        border-radius: 0.5em;


        &:hover{
            background-color: $color4;
            color: white;
        }
    }

}







// 
// ABOUT US PAGE
// 
.about-section{
    @include responsive-container();
    @include max-size();
    @include card-helmet();
    @include headings();
    @include paragraphs();   
    justify-content: space-around;
}


.about-card{
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5em;
    overflow: hidden;
    transition: transform 500ms ease;
    margin: 1em;
    



    &:hover{
        transform: scale(1.05);
        
    }

    .about-content{
        padding: 1.5rem;
        background: linear-gradient(
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 0.3) 22%,
            hsl(0 0% 0% / 1)
        );
        transform: translateY(65%);
        transition: transform 500ms ease;
    }

    &:hover .about-content{
        transform: translateY(0%);
        transition:  transform 500ms ease;
        
    }


    &:hover .about-title::after{
        transform: scaleX(1);
    }


    .about-title{
        position: relative;
        width: max-content;
    }
    
    
    .about-title::after{
        content: "";
        position: absolute;
        height: 4px;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $color2;
        transform-origin: left;
    }

}

.about-card1{
    background-image: url(/src/img/property.jpg);
}

.about-card2{
    background-image: url(/src/img/law.jpg);
}

.about-card3{
    background-image: url(/src/img/code.jpg);
}


.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: $color4;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}




.skills-container{
    // border: 2px black solid;

    @include responsive-container();
    @include max-size();
    @include card-helmet();
    justify-content: space-around;
    flex-direction: column;

    .skills-title{
        font-family: roboto, sans-serif;
        text-align: center;
        font-size: 30px;
    }

    .skill-title{
        font-family: roboto, sans-serif;
        font-size: 1.5em;
        margin: 0.2em;

    }
    
}




.skill{
    width: 100%;
    padding: 0.3em;
    border-radius: 1em;
    
    font-family: roboto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    

    .skill-tag{   
    
        border: 2px black solid;
        border-radius: 0.5em;
        padding: 0.4em;
        margin: 0.5em; 
    
        width: fit-content;
    
        &:hover{
        background-color: $color4;
        color: $color3;
        }
    }

}

.skill-box{
    border: 2px black solid;
    border-radius: 0.5em;
    padding: 0.4em; 
    margin: 1em;

    // background-color: $color3;

    &:hover{
        background-color: $color3;
        box-shadow: 2px 4px;
    }
}






// 
// CONTACT US
// 
.contact-section{
    @include responsive-container();
    @include max-size();
    @include card-helmet();
    justify-content: space-around;

    font-family: roboto, sans-serif;

    a{
        display: block;
        height: fit-content;
        width: fit-content;
        text-decoration: none;
    }
}


.contact-card{
    @include centre-text();
    height: 35%;
    width: 35%;
    min-width: 300px;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    
    color: black;
    border: 2px solid black;

    transition: transform 500ms ease;


    img{
        width: 100px;
        height: 100px;
    }

    &:hover{
        background-color: $color3;
        transform: scale(1.1);
        box-shadow: 2px 4px;
    }
}




.contact-card1{
    background-image: url(/src/img/code.jpg);
}

.contact-card2{
    background-image: url(/src/img/branches.jpg);
}

.contact-card3{
    background-image: url(/src/img/accessibility.jpg);
}




.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: $color4;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}








//
// FOOTER SECTION
//
footer{
    @include responsive-container();
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: $color4;
    margin-top: 4em;

    // border: 5px solid red;

    font-family: roboto, sans-serif;



    .socials{
        padding: 1em 0;

        width: 50%;

        // border: 2px solid black;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }





    .site-links{
        // border: 2px solid black;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 50%;

        ul{
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        li{
            list-style-type: none;
            width: fit-content;
        }

        a{
            text-decoration: none;
            color: black;
            

            &:hover{
                color: $color3;
                border: 2px $color3 dashed;                
            }
        }

 
    }



    img{
        width: 50px;
        height: 50px;

        &:hover{
            transform: scale(1.3);
            border: 2px $color3 dashed;                
        }
    }


}




//
// MEDIA QUERY
//
@media screen and (min-width:767px){
    .nav-toggle-label{
        display: none;
    }
}


@media screen and (max-width:767px){

    .nav-list{
        display: none;
    }

    .highlight{
        .highlight-desc{
            width: 100%;
            // height: fit-content;
        }
        // .highlight-img{
        //     width: 100%;
        //     height: 100%;
        // }
    }

 

    .blog{
        flex-direction: column;
        .blog-copy{
            width: 90%;
        }
    
        .blog-top{
            flex-direction: column;
        }
        .blog-body{
            flex-direction: column;
        }
    }


    
    .skill{
        flex-direction: column;
    }




}


@media screen and (max-width:767px){
    .blog{
        .blog-copy{
            margin: 1em;
        }
        .blog-top{
            text-align: center;
        }
    }
}